.wrapper {
    background-color: #222222;
    display: block;
    padding:50px 0 20px 120px;
    margin: 20px auto;
    position: relative;
    width: 90%;
}
#container{
    background: #222222;
}
.column {
    padding-left: 20px;
    width: 250px;
    height: 300px;
    display:inline-block;
    position: relative;
    overflow: hidden; 
}

.info p {
    text-align: justify;
    line-height: 20px;
    font-family: 'Open Sans',sans-serif;
    color: #797978;
    font-size: 15px;
    font-weight: 500;
}
.icon i{
    color: #007BFF;
    font-size: 16px;
    height: 18px;
    width: 18px;
    padding-left: 7px;
}
.col-2 h4{
    padding-left: 40px;
    color: #AAAAAA;
}
.info h4 {
    font-family: sans-serif;
    color: #AAAAAA;
}
.info h5 {
    font-family: sans-serif;
    color: #AAAAAA;
    font-size: 16px;
    line-height: 1;
}
.info h4::after {
    content: '';
    position: absolute;
    display: block;
    margin-top: 0px;
    height: 2px;
    width: 300px;
    background: #18D26E;
    margin-top: 5px;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li{
    padding: 10px 0;
    border-bottom: 1px solid #555555;
}
.footer-links ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1;
    color: silver;
}
.footer-links ul li a:hover{
    color: #00b29e;
    transition: 0.4s;
}
.col-3{
    width: 250px;
}

.col-2{
    clear: both;
    overflow: hidden;
}
.info-social{
    margin-left: -40px;
    position: relative;
}
.info-social ul{
    list-style: none;
}
.info-social ul li{
    display: inline-block;
}
.info-social a{
    color: #FFFFFF;
    background: #333333;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    padding: 8px;
    //margin-right: 4px;
    //border-radius: 50%;
    text-align: center;
    transition: 0.4s;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    //border: 1px solid #FFFFFF;
    z-index: 1;
    
}
.info-social ul li a.fa{
    position: relative;
    color: #262626;
    transition: 0.4s;
    z-index: 3;
}
.info-social ul li a:hover .fa{
    color: #007BFF;
    transition: 0.5s; 
}
.col-4 h4{
    padding-bottom: 10px;
}
.col-4 p{
    padding: 5px 0;
    color: #797978;
}
.footer{
    background: #111111;
    padding: 20px 10px;
    margin-top: -20px;
}
.footer p{
    text-align: center;
    color: silver;
    font-family: 'Open Sans',sans-serif;
    
}
.footer span{
    color: #18d36e;
    
}
